{
    "extends": "airbnb-base",
    "parser": "babel-eslint",
    "parserOptions": {
      "ecmaVersion": 6,
      "sourceType": "module",
      "ecmaFeatures": {
        "impliedStrict": false
      }
    },
    "rules": {
      "semi": "error",
      "no-multi-assign": "warn",
      "no-bitwise": "off",
      "no-plusplus": ["error", { "allowForLoopAfterthoughts": true }],
      "max-len": ["error", 120],
      "no-mixed-operators": "off",
      "no-continue": "off",
      "no-multi-spaces": "off",
      "no-param-reassign": "off"
    },
    "env" : {
      "browser": true,
      "es6": true
    }
}